@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Mulish:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
  --beetlejuice: 0, 63, 155; 
  font-family: Mulish, sans-serif;
  font-size: 12px;
  line-height: 20px;
}

h1 {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

p {
  margin: 2em auto 0px;
  padding: 0px;
  text-align: justify; 
}

a, a:link, a:active, a:visited { color: rgba(var(--beetlejuice), 1); text-decoration: none; display: block; text-align: center; }

.introduction { margin: 40px auto; width: 300px; }
