/****************************************
 THREAD TEMPLATE BY LYDIA (FEB 2021)
 for use on COSL only (skinny-love.net)
****************************************/
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,200;1,400;1,700&display=swap');

.luckycharmed { width: 250px; margin: 0px auto; text-align: justify; color: rgba(var(--charmtxt),1); background: rgba(var(--charmbg),1); padding: 35px; font-family: karla, sans-serif; font-size: 12px; line-height: 160%; } 
.soraaa { border-radius: 100%; margin: -15px auto 25px; width: 80px; height: 80px; padding: 5px; border-top: 1px solid rgba(var(--charm),1); border-bottom: 1px solid rgba(var(--charm),1); border-left: 1px solid rgba(var(--charmbg),1); border-right: 1px solid rgba(var(--charmbg),1); background: rgba(var(--charmbg),1); z-index: 1; } 
.soraaa img { width: 80px; height: 80px; border-radius: 100%; object-fit: cover; object-position: center; } 
.soraaaliner { height: 1px; background: rgba(var(--charm),1); margin: 45px 0px -45px; z-index: -1; } 
.luckk b { background: rgba(var(--charm),0.5); padding: 0px 4px; border-radius: 4px; color: rgba(var(--charmtxt),1); } 
.luckk i, .luckk u, .luckk a { color: rgba(var(--charm),1); } 
.taggert:before { display: block; width: 250px; height: 1px; background: rgba(var(--charm),1); content:''; padding: 0px; margin: 0px; margin: 9px 0px -9px 0px; z-index: -1; } 
.taggert { margin: 35px 0px 0px; text-align: center; } 
.taggert span { text-align: center; background: rgba(var(--charmbg),1); padding: 5px; margin: 0px auto; font-size: 9px; font-weight: bold; text-transform: uppercase; z-index: 1; border: 1px solid rgba(var(--charm),1); border-radius: 4px; } 
.taggert span { color: rgba(var(--charmtxt),1); }
