.lydiaex { line-height: 150%; }
.lydiaex quote { display: block; text-align: center; padding-bottom: 9px; font: bold italic 12px times new roman; line-height: 100%; }
.lydiaex quote:first-letter { color: rgba(var(--mgrgb),1); }

.lydiaex link { display: block; text-align: center; padding-top: 9px; }
.lydiaex faves { display: block; text-align: justify; text-transform: lowercase; line-height: 150%; }
