@import url('https://softacos.github.io/icons/stylesheet.css');
* {
	box-sizing: border-box
}
:root[color-mode="light"] {
	--body: 255, 255, 255;
	--bg: 242, 242, 242;
	--bgbu: 252, 252, 252;
	--stk: 77, 77, 77;
	--bw: 255,255,255;
	--wb: 0,0,0;
}
:root[color-mode="dark"] {
	--body: 33, 33, 33;
	--bg: 55, 55, 55;
	--bgbu: 22, 22, 22;
	--stk: 222, 222, 222;
	--bw: 0,0,0;
	--wb: 255,255,255;
}
:root[color-mode="light"] .light--hidden {
	display: none
}
:root[color-mode="dark"] .dark--hidden {
	display: none
}
:root {
	--color: 250, 139, 255;
	--color2: 43, 210, 255;
	--color3: 43, 255, 136;
	--grad25: linear-gradient(45deg, rgba(var(--color), 0.3) 0%, rgba(var(--color2), 0.3) 52%, rgba(var(--color3), 0.3) 90%);
	--grad75: linear-gradient(45deg, rgba(var(--color), 0.8) 0%, rgba(var(--color2), 0.8) 52%, rgba(var(--color3), 0.8) 90%);
	--grad100: linear-gradient(45deg, rgba(var(--color), 1) 0%, rgba(var(--color2), 1) 52%, rgba(var(--color3), 1) 90%);
	--fave: linear-gradient(45deg, rgba(255, 229, 139, 1) 0%, rgba(255, 43, 43, 1) 50%, rgba(251, 43, 255) 100%);
	background: rgba(var(--body))
}
body {
	font-family: sans-serif;
	color: rgba(var(--stk))
}
#page-wrapper {
	width: 1100px;
	margin: 10px auto;
	background: rgba(var(--bg));
	padding: 25px
}
#page-wrapper h2 {
	font: 700 55px roboto;
	text-align: center;
	margin: 30px;
	padding: 5px;
	background: var(--grad100);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	-webkit-box-decoration-break: clone
}
.button-group {
	width: 100px;
	height: auto;
	position: sticky;
	position: -webkit-sticky;
	top: 10px
}
button.color-mode__btn {
	position: fixed;
	top: 5px;
	right: 9px;
	background: rgba(var(--bg));
	color: rgba(var(--stk));
	border: 1px solid rgba(var(--bgbu));
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 8px;
	padding: 5px 11px;
}
x {
	display: block
}
.iconic {
	font-size: 14px;
	display: block;
	text-align: center;
	line-height: 1em
}
.cright {
	font-size: 12px;
	margin: 20px;
	text-align: center
}
#isowrap {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	box-sizing: border-box;
	justify-content: space-between;
	height: inherit
}
.button {
	display: inline-block;
	padding: 8px 12px;
	margin-bottom: 5px;
	box-sizing: border-box;
	width: 100%;
	color: rgba(var(--stk));
	background: rgba(var(--bgbu));
	border: none;
	font-family: sans-serif;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	cursor: crosshair
}
.button:hover {
	background-color: #8CF;
	background: var(--grad25)
}
.button.is-checked {
	color: black;
	background: var(--grad75)
}
.button:active {
	background: var(--grad75)
}
.button-group:after {
	content: '';
	display: block;
	clear: both
}
.button-group .button {
	float: left;
	border-radius: 0;
	margin-left: 0;
	margin-right: 1px
}
.grid {
	width: calc(100% - 140px);
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	height: inherit
}
.grid:after {
	content: '';
	display: block;
	clear: both
}
.element-item {
	position: relative;
	width: 100px;
	height: 150px;
	margin: 5px;
	padding: 5px;
	background: var(--grad75);
	color: #262524
}
.element-item>* {
	margin: 0;
	padding: 0
}
.element-item.fave {
	background: var(--fave)
}
.element-item img {
	width: 90px;
	height: 140px;
	object-fit: cover;
	object-position: center;
	filter: grayscale(0.6);
	transition: all 0.1s ease-in 0s;
	-webkit-transition: all 0.1s ease-in 0s
}
.element-item:hover img {
	filter: grayscale(0.1)!important
}
.element-item .fdetails {
	width: 90px;
	height: 140px;
	background: rgba(var(--bw), 0.8);
	color: rgba(var(--wb),1); 
	position: absolute;
	top: 5px;
	left: 5px;
	text-align: center;
	font-size: 12px;
	opacity: 0;
	box-sizing: border-box;
	padding: 10px 5px;
	transition: all 0.4s ease-in 0.5s;
	-webkit-transition: all 0.4s ease-in 0.5s
}
.element-item .fdetails:hover {
	opacity: 1
}
.element-item h1 {
	font-size: 15px
}
.element-item i {
	font-style: normal;
	display: none
}
.element-item i:before {
	content: ' • '
}
