	@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

#directory-wrap {
	--accent: 254, 172, 94;
	--accent2: 199, 121, 208;
	--accent3: 75, 192, 200;
	--bg: 242,242,242; --stk: 55,55,55; 
	--bgbd: 200,200,200;
	overflow: hidden;
	width: 100%;
	margin: 0px auto;
	font-family: roboto, sans-serif; 
	display: flex;
	flex-flow: row wrap; color: rgba(var(--stk)); 
	justify-content: space-between;
}
.container {
	overflow: hidden;
	width: calc(100% - 115px);
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	background: rgba(var(--bg));
	box-sizing: border-box;
	padding: 25px;
}
.directory {
	background: linear-gradient(45deg, rgba(var(--accent), 0.7), rgba(var(--accent2), 0.7), rgba(var(--accent3), 0.7));
	width: 100px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	box-sizing: border-box;
	position: relative;
	display: table;
	margin: 0px 0px 5px;
	padding: 5px;
	display: none;
	/* Hidden by default */
}
.directory img {
	width: 90px;
	height: 140px;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 5px;
	left: 5px;
}
.directory .fdetails {
	position: absolute;
	left: 5px;
	top: 5px;
	width: 90px;
	height: 140px;
	text-align: center;
	background: rgba(255, 255, 255, 0.9);
	box-sizing: border-box;
	padding: 10px;
	font-size: 12px;
	line-height: 1.4em;
	opacity: 0;
	transition: all 0.4s ease-in 0s;
	-webkit-transition: all 0.4s ease-in 0s;
}
.directory .fdetails:hover {
	opacity: 1;
	transition: all 0.4s ease-in 0.4s;
	-webkit-transition: all 0.4s ease-in 0.4s;
}.directory .fdetails h1 {
	color: black;
	font-size: 16px;
	line-height: 1em;
	margin: 0px;
	padding: 0px;
}
/* The "show" class is added to the filtered elements */

.show {
	display: block;
}
/* Style the buttons */

.btn {
	border: none;
	outline: none;
	width: 100px;
	box-sizing: border-box;
	line-height: 20px;
	display: block;
	margin: 0px 0px 5px;
	height: 20px;
	background-color: rgba(var(--bg));
	cursor: pointer;
}
/* Add a light grey background on mouse-over */

.btn:hover {
	background-color: rgba(var(--bgbd));
}
/* Add a dark background to the active button */

.btn.active {
	background-color: rgba(var(--bgbd));
	color: white;
}
