* { box-sizing: border-box; }

body {
  font-family: sans-serif;
  --color: 250, 139, 255; 
  --color2: 43,210,255;
  --color3: 43,255,136;
  --grad25: linear-gradient(45deg, rgba(var(--color),0.3) 0%, rgba(var(--color2),0.3) 52%, rgba(var(--color3),0.3) 90%);
  --grad75: linear-gradient(45deg, rgba(var(--color),0.8) 0%, rgba(var(--color2),0.8) 52%, rgba(var(--color3),0.8) 90%);
  --grad100: linear-gradient(45deg, rgba(var(--color),1) 0%, rgba(var(--color2),1) 52%, rgba(var(--color3),1) 90%);
--fave: linear-gradient(45deg, rgba(255,229,139,1) 0%, rgba(255,43,43,1) 50%, rgba(251,43,255) 100%);

}
#isowrap {
  width: 100%; 
  display: flex; flex-flow: row wrap;
  box-sizing: border-box; 
  justify-content: space-between;
  height: inherit; 
  
}
/* ---- button ---- */

.button {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 5px;
  box-sizing: border-box; 
  width: 100%; 
  background: rgba(var(--bgbu));
  border: none;
  color: #222;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center; 
  cursor: crosshair;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}


.button.is-checked {
  color: black;
  background: var(--grad75); 
}

.button:active {
  background: var(--grad75); 
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

/* ---- isotope ---- */

.grid {
  width: calc(100% - 140px);
  display: flex; flex-flow: row wrap; 
  justify-content: space-between; 
  box-sizing: border-box; 
  padding: 0px; 
  margin: 0px; 
  height: inherit; 
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  width: 100px;
  height: 150px;
  margin: 5px;
  padding: 5px;
  background: var(--grad75);
  color: #262524;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.element-item.fave { background: var(--fave) }

.element-item img { width: 90px; height: 140px; object-fit: cover; object-position: center; filter: grayscale(0.6); transition: all 0.1s ease-in 0s; -webkit-transition: all 0.1s ease-in 0s; }
.element-item:hover img { filter: grayscale(0.1)!important; }

.element-item .fdetails {
  width: 90px; 
  height: 140px; 
  background: rgba(255,255,255,0.8); 
  position: absolute; top: 5px; 
  left: 5px; text-align: center; 
  font-size: 12px; 
  opacity: 0; 
  box-sizing: border-box; 
  padding: 10px 5px;
  transition: all 0.4s ease-in 0.5s; 
  -webkit-transition: all 0.4s ease-in 0.5s; 
}
.element-item .fdetails:hover {
  opacity: 1;
}

.element-item h1 {
  font-size: 15px; 
}
.element-item i { font-style: normal; display: none; }
.element-item i:before { content: ' • '; }
