@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400;1,700&display=swap');
html[data-theme="dark"] .batboy { --bd: 10,10,10; --stk: 252,252,252; }
.batboy {  --bd: 239,239,239; --stk: 100,100,100; --grad100: linear-gradient(90deg, rgba(var(--accent)), rgba(var(--accent2)),  rgba(var(--accent3))); 
width: 370px; border: 1px solid rgba(var(--bd)); background: rgba(var(--bd),0.2); color: rgba(var(--stk)); }
.batboy .holdme { padding: 45px ; text-align: justify; font-size: 12px; line-height: 1.4em; letter-spacing: 0px; }
.batboy .holdme p { margin: 9px 0px 0px; letter-spacing: 0px; }
.batboy .holdme b { background: var(--grad100); background-clip: text; -webkit-background-clip: text; color: transparent; -webkit-box-decoration-break: clone; }
.batboy .holdme i { font: 400 italic 14px/1em lato; background: var(--grad100); background-repeat: repeat-x; background-position: 0 95%; background-size: 100% 1px; -webkit-box-decoration-break: clone; letter-spacing: 0.5px; }
.batboy .comfortandjoy {
width: 100%; box-sizing: border-box; text-align: center; 
border-top: 1px solid rgba(var(--bd),1); 
padding: 15px;
background-color: rgba(var(--bd),0.8);
background-image: var(--gificn); 
background-repeat: no-repeat; 
background-size: 40px 40px; 
background-position: 0px 5px;
}
.batboy .illshowyou {
width: 100%; box-sizing: border-box; text-align: center; 
border-bottom: 1px solid rgba(var(--bd),1); 
background-color: rgba(var(--bd),0.8);
padding: 45px;
}
.batboy .illshowyou img { width: 100%; height: 170px; object-fit: cover; object-position: center; }
