@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html[data-theme="dark"] .anastasia-tm {   --bg: 20,20,20; --opp: 222,222,222; }
.anastasia-tm { 
  --bg: 248,248,248; --opp: 50,50,50;
  width: 400px;
  font: 11px lora; line-height: 15px; 
  background: rgba(var(--bg),1); 
  border: 1px solid rgba(var(--highlight),0.5);
  padding: 50px; text-align: justify;
  display: flex; flex-flow: row wrap;
  justify-content: space-between; 
}
.anastasia-tm .mypetersburg { 
  width: 130px; 
  position: relative; 
}
.anastasia-tm gif { 
  display: block; position: sticky; 
  position: -webkit-sticky; top: 130px; margin-bottom: 40px; 
}
.anastasia-tm .mypetersburg img { 
  width: 100px; 
  height: 100px; 
  object-position: center; 
  object-fit: cover; }
.anastasia-tm crossingabridge, .anastasia-tm .mypetersburg inmydreams:after, .anastasia-tm .mypetersburg inmydreams:before, 
.anastasia-tm .mypetersburg gofromthere:before,
.anastasia-tm .mypetersburg gofromthere:after {
  content: ''; display: block; 
  width: 0px; position: absolute; 
}
.anastasia-tm .mypetersburg gofromthere:before {
  border-top: 50px solid rgb(var(--bg)); 
  border-right: 50px solid transparent; 
  top: 0px; 
}
.anastasia-tm .mypetersburg gofromthere:after {
  border-top: 50px solid rgb(var(--bg)); 
  border-left: 50px solid transparent; 
  top: 0px; left: 50px;
}
.anastasia-tm .mypetersburg inmydreams:before {
  border-bottom: 50px solid rgb(var(--bg)); 
  border-right: 50px solid transparent; 
  top: 50px; 
}
.anastasia-tm .mypetersburg inmydreams:after {
  border-bottom: 50px solid rgb(var(--bg)); 
  border-left: 50px solid transparent; 
  top: 50px; left: 50px;
}
.anastasia-tm crossingabridge { 
  border: 1px solid rgba(var(--highlight),0.5); width: 76px; height: 76px; transform: rotate(45deg); top: 11px; left: 11px; }
.anastasia-tm .journeytothepast, .anastasia-tm .onceuponadecember { 
  width: calc(100% - 140px); box-sizing: border-box; 
  color: rgb(var(--opp)); letter-spacing: 0.5px;
  min-height: 100px; position: relative; 
}
.anastasia-tm .onceuponadecember:before, .anastasia-tm .onceuponadecember:after, .anastasia-tm .journeytothepast:before, .anastasia-tm .journeytothepast:after { 
  content: '';
  border-left: 1px solid rgba(var(--highlight),0.4); 
  padding: 0px 0px 0px 30px; 
  display: block; height: 70%; 
  position: absolute; left: -20px;
  top: 0px; 
}
.anastasia-tm .onceuponadecember:after, .anastasia-tm .journeytothepast:after {
  left: -22px; height: 40%; 
  
}

.anastasia-tm .journeytothepast:first-letter {
  display: block; float: left; 
  clear: none; color: rgb(var(--highlight));
  font: bold italic 30px lora; 
  padding: 10px 15px;
}
.anastasia-tm .countess { 
  width: 100%; margin: 10px 0px; 
  text-align: center; display: flex; flex-flow: row no-wrap; 
  justify-content: space-between; align-items: center;
  border: 1px solid rgba(var(--highlight),0.4);
}
.anastasia-tm .countess span { background: rgba(var(--highlight),0.2); padding: 5px 10px; border-right: 1px solid rgba(var(--highlight),0.4); font: 8px lora; text-transform: uppercase; }
.anastasia-tm .countess a { background: rgb(var(--highlight)); background-clip: text; -webkit-background-clip: text; color: transparent; font-style: italic; padding: 0px 10px; font-weight: bold; }

.anastasia-tm b { 
  font: bold italic 14px lora; color: rgb(var(--highlight)); 
  line-height: 15px; 
  padding: 0px 3px; 
}
.anastasia-tm i { 
  font: italic 14px lora; 
  line-height: 15px; 
  background: rgba(var(--highlight),0.15); 
  padding: 0px 3px;
}

/* MOBILE CODE */
@media only screen and (max-width: 760px) {
 #mobile .anastasia-tm { 
    width: 100%; box-sizing: border-box;
    display: block; padding: 30px; 
  }
 #mobile .anastasia-tm .mypetersburg {
    margin: 20px auto 40px; 
  }
 #mobile .anastasia-tm .journeytothepast,  .anastasia-tm .onceuponadecember { width: 100%; }
 #mobile .anastasia-tm gif { 
  display: block; position: relative; top: auto!important; }
}
