@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html[data-theme="dark"] .catchmeifucan-left {
  --bg: 31,31,31;
  --bg2: 22,22,22;
}
html[data-theme="dark"] .catchmeifucan-right {
  --bg: 31,31,31;
  --bg2: 22,22,22;
}

/**********************
  GENERAL SET UP
**********************/

.catchmeifucan-right, .catchmeifucan-left {
  width: 400px;
  border-radius: 5px; 
  margin: 20px auto;
  --dk: 0,0,0;
  --bg: 233,233,233;
  --stk: 223,223,223;
  --bg2: 200,200,200;
  --rgbgradient: linear-gradient(90deg, rgba(var(--accent),1), rgba(var(--accent2),1), rgba(var(--accent3),1));
}

.catchmeifucan-right banner, .catchmeifucan-left banner {
  display: block; 
  padding: 5px 0px;
  font: 9px/1.5em poppins; 
  text-align: center;
  text-transform: uppercase; 
  background: rgba(var(--bg2));
}
.catchmeifucan-right banner i, .catchmeifucan-left banner i {
  font-style: normal;
  font-weight: bold; 
}
.catchmeifucan-right banner i:after, .catchmeifucan-left banner i:after {
  content: ' •';
  color: rgba(var(--accent3));
}

.catchmeifucan-right .jetset b, .catchmeifucan-left .jetset b {
  font-weight: bold; 
  font-family: roboto mono;
  background: var(--rgbgradient);
  background-clip: text; 
  -webkit-background-clip: text; 
  -webkit-box-decoration-break: clone;
  color: transparent;
}

.catchmeifucan-right .livingcolor, .catchmeifucan-left .livingcolor {
  width: 100%; height: 100%; 
  background: var(--dkgrad);
  position: relative; 
}

.catchmeifucan-right .jetset p, .catchmeifucan-left .jetset p {
  margin: 0px; 
  line-height: 1.3em;
  padding: 0px 0px 8px;
}
.catchmeifucan-right .jetset:after, .catchmeifucan-left .jetset:after {
  content: '…';
}
.catchmeifucan-right .jetset i, .catchmeifucan-left .jetset i {
  font-family: roboto mono;
  background: var(--rgbgradient);
  background-repeat: repeat-x;
  background-size: 100% 1px;
  background-position: 0 100%; 
  -webkit-box-decoration-break: clone;
}

.catchmeifucan-right x, .catchmeifucan-right y, .catchmeifucan-right z, .catchmeifucan-left x, .catchmeifucan-left y, .catchmeifucan-left z {
  display: block;
  height: 9px; 
  width: 9px; margin: 2px; 
  border-radius: 100%;
  float: left;
}
.catchmeifucan-right x, .catchmeifucan-left x { background: rgba(var(--accent)); margin-left: 7px; }
.catchmeifucan-right y, .catchmeifucan-left y { background: rgba(var(--accent2)); }
.catchmeifucan-right z, .catchmeifucan-left z { background: rgba(var(--accent3)); }

.catchmeifucan-right ::-webkit-scrollbar, .catchmeifucan-left ::-webkit-scrollbar {
  background: rgba(var(--stk),0);
  width: 3px; 
  border-radius: 3px; 
}
.catchmeifucan-right ::-webkit-scrollbar-thumb, .catchmeifucan-left ::-webkit-scrollbar-thumb {
  background: rgba(var(--dk),0.2);
  width: 3px; 
  border-radius: 3px; 
}


/**********************
  RIGHT SIDE CONVO 
**********************/

.catchmeifucan-right {
  --dkgrad: linear-gradient(90deg, rgba(var(--dk),0), rgba(var(--dk),.8) 75%, rgba(var(--dk),1));
}

.catchmeifucan-right .sevenwonders {
  width: 100%; 
  height: 260px; 
  background-size: cover; 
  box-sizing: border-box; 
  border: 25px solid rgba(var(--bg));
  background-position: right;
}

.catchmeifucan-right .jetset {
  width: 40%; 
  color: rgba(var(--stk));
  font-family: poppins; 
  font-size: 10px;
  text-align: right;
  box-sizing: border-box; 
  padding: 5px; 
  position: absolute; 
  right: 0px;
  bottom: 0px;
  max-height: 200px; 
  overflow: auto;
}

/**********************
  LEFT SIDE CONVO 
**********************/

.catchmeifucan-left {
  --dkgrad: linear-gradient(90deg, rgba(var(--dk),1), rgba(var(--dk),.8) 25%, rgba(var(--dk),0));
}

.catchmeifucan-left .sevenwonders {
  width: 100%; 
  height: 260px; 
  background-size: cover; 
  box-sizing: border-box; 
  border: 25px solid rgba(var(--bg));
  background-position: left;
}

.catchmeifucan-left .jetset {
  width: 40%; 
  color: rgba(var(--stk));
  font-family: poppins; 
  font-size: 10px;
  text-align: left; 
  box-sizing: border-box; 
  padding: 5px; 
  position: absolute; 
  bottom: 0px;
  max-height: 200px; 
  overflow: auto;
}
