@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html[data-theme="dark"] .mean-girls-tm { 
  --bg: 50,50,50; --bgbd: 100,100,100; --stk: 244,244,244; border: 1px solid rgba(var(--bg));}

.mean-girls-tm { 
  --bg: 252,252,252; --bgbd: 200,200,200; --stk: 50,50,50; border: 1px solid rgba(var(--bgbd),0.5);
  width: 300px; overflow: hidden; 
  height: 534px; background: rgb(var(--bgbd),0.1); font-family: lora, serif;
  border-radius: 12px; position: relative; 
}
.mean-girls-tm ::-webkit-scrollbar-thumb {
  width: 3px; height: 3px; border-radius: 5px; 
}
.mean-girls-tm ::-webkit-scrollbar-thumb { 
  background-image: none; background-color: rgba(var(--stk),0.6); 
  width: 3px; height: 3px; border-radius: 5px; 
}
.mean-girls-tm .cautionary { 
  display: block; width: 100%; margin: 40px auto; 
  box-sizing: border-box; color: rgba(var(--stk),1); 
}
.mean-girls-tm .cautionary:before, .mean-girls-tm .cautionary:after { 
  display: block; content: ''; width: 25%; height: 1px; background: rgba(var(--stk),0.55); 
}
.mean-girls-tm apexpred { 
  display: block; padding-top: 11px; margin: 0px; text-transform: uppercase; 
  font: italic 30px serif; letter-spacing: -1.5px; 
}
.mean-girls-tm tale { 
  display: block; font-size: 9px; text-transform: uppercase; 
  padding-bottom: 11px; letter-spacing: 0.5px; 
}
.mean-girls-tm revenge {
  display: block; background: rgba(var(--bgbd),0.15); width: 100%; 
  height: calc(100% - 145px);box-sizing: border-box; padding: 15px 15px 20px; 
}
.mean-girls-tm party { 
  display: block; height: calc(100% - 8px); 
  overflow: auto; padding: 0px 4px;
}
.mean-girls-tm revenge p {
  margin: 8px 0px 0px; 
  padding: 15px 18px; 
  color: rgba(var(--stk),0.8);
  float: right; clear: none;
  text-align: justify; 
  border: 1px solid rgba(var(--bgbd),0.5); 
  background: rgba(var(--bgbd),0.12);
  border-radius: 12px 12px 0px 12px;
  font: 12px lora; line-height: 1.4em; letter-spacing: 0.5px;
}
revenge p img, revenge p video {
  max-width: calc(100%)!important;
  height: auto!important; 
  border-radius: 7px; 
}
.mean-girls-tm revenge p b,.mean-girls-tm revenge p i {
  font-size: 14px;
  line-height: 15px; 
  color: rgb(var(--stk));
}



html[data-theme="dark"] .mean-girls-tm2 { 
  --bg: 50,50,50; --bgbd: 100,100,100; --stk: 244,244,244; }

.mean-girls-tm2 { 
  --bg: 252,252,252; --bgbd: 200,200,200; --stk: 50,50,50; border: 1px solid rgba(var(--bg));
  width: 300px; overflow: hidden; 
  height: 534px; background: rgb(var(--bgbd),0.1); font-family: lora, serif;
  border-radius: 12px; position: relative; 
}
.mean-girls-tm2 .cautionary { display: block; 
width: calc(100% - 70px); margin: 40px auto; box-sizing: border-box; color: rgba(var(--stk),1); }
.mean-girls-tm2 .cautionary:before, .mean-girls-tm2 .cautionary:after { display: block; content: ''; width: 25%; height: 1px; background: rgba(var(--stk),0.55); }
.mean-girls-tm2 apexpred { display: block; padding-top: 11px; margin: 0px; text-transform: uppercase; font: italic 30px serif; letter-spacing: -1.5px; }
.mean-girls-tm2 tale { display: block; font-size: 9px; text-transform: uppercase; padding-bottom: 11px; letter-spacing: 0.5px; }
.mean-girls-tm2 revenge {
  display: block; background: rgba(var(--bgbd),0.15); width: 100%; height: calc(100% - 145px);box-sizing: border-box; padding: 15px 15px 20px; 
}
.mean-girls-tm2 party { display: block; height: calc(100% - 8px); overflow: auto; padding: 0px 4px;}
.mean-girls-tm2 revenge p {
  margin: 8px 0px 0px; 
  padding: 15px 18px; 
  color: rgba(var(--stk),0.8);
  float: right; clear: none;
  text-align: justify; 
  border: 1px solid rgba(var(--bgbd),0.5); 
  background: rgba(var(--bgbd),0.12);
  border-radius: 12px 12px 0px 12px;
  font: 12px lora; line-height: 1.4em; letter-spacing: 0.5px;
}
.mean-girls-tm2 revenge p b,.mean-girls-tm2 revenge p i {
  font-size: 14px;
  line-height: 15px; 
  color: rgb(var(--stk));
}
.mean-girls-tm2 stupid {
  display: flex; flex-flow: row wrap; 
  align-items: center; 
  justify-content: space-between;
  padding: 0px 20px;
  
}
.mean-girls-tm2 img {
  width: 60px; height: 60px; 
  object-position: center; 
  object-fit: cover; 
  border-radius: 5px;
  background: rgba(var(--bgbd)); padding: 2px;
}
