.north-strand b, .north-strand i { color: rgba(var(--ltdk)); }

html[data-theme="dark"] .once-tm {
  --ltbg: 10,10,10; --ltdk: 144,144,144;
  --ltbd: 44,44,44; --txt: 233,233,233;
}
.once-tm {
  --ltbg: 252,252,252; --ltdk: 155,155,155;
  --ltbd: 230,230,230; --txt: 80,80,80;
  width: 350px; position: relative;
  background: rgba(var(--ltbg),1);
  border: 1px solid rgba(var(--ltbd),1);
  color: rgb(var(--txt));
}
.once-tm .north-strand {
  padding: 40px 40px 0px 85px; text-align: justify; 
  font: 12px serif; line-height: 1.4em;
  letter-spacing: 0.5px; 
}
.once-tm .falling-slowly { 
  height: 80px; display: flex; padding: 0px 0px 10px 10px;
  flex-flow: row wrap; position: relative;
  align-items: center; 

}
.once-tm .falling-slowly img { width: 80px; height: 80px; position: relative; object-fit: cover; object-position: center; }
.once-tm .falling-slowly span2, .once-tm .falling-slowly span { display: block; }
.once-tm .falling-slowly span:before { 
  width: 0px; height: 40px; 
  border-top: 40px solid rgba(var(--ltbg),1); 
  border-right: 40px solid transparent; content: ''; display: block; position: absolute; top: 0px; left: 10px; z-index: 1; 
}
.once-tm .falling-slowly span:after { 
  width: 0px; height: 40px; 
  border-top: 40px solid rgba(var(--ltbg),1); 
  border-left: 40px solid transparent; content: ''; display: block; position: absolute; top: 0px; left: 50px; z-index: 1; 
}
.once-tm .falling-slowly span2:before { 
  width: 0px; height: 40px; 
  border-bottom: 40px solid rgba(var(--ltbg),1); 
  border-right: 40px solid transparent; content: ''; display: block; position: absolute; top: 0px; left: 10px; z-index: 1; 
}
.once-tm .falling-slowly span2:after { 
  width: 0px; height: 40px; 
  border-bottom: 40px solid rgba(var(--ltbg),1); 
  border-left: 40px solid transparent; content: ''; display: block; position: absolute; top: 0px; left: 50px; z-index: 1; 
}
.once-tm .moon {
  width: 1px; height: calc(100% - 110px); 
  background: rgba(var(--ltbd),1); 
  position: absolute; bottom: 10px; left: 50px; 
}
.once-tm .gold {
  width: calc(100% - 10px); height: 1px; 
  background: rgba(var(--ltbd),1); 
  position: absolute; bottom: 50px; left: 10px; 
}
.once-tm tag {
  display: block; width: calc(100% - 80px); 
  line-height: 100%; font: 9px serif; margin: 0px 0px 6px;

}
.once-tm x { 
display: inline-block; position: relative; top: 2px; 
font: bold italic 9px serif; 
letter-spacing: 1px; background-image: none; 
background-color: rgba(var(--ltbg),1)!important; 
background-clip: none!important; webkit-background-clip: none; 
padding: 0px 7px; text-decoration: none; 
}
.once-tm tag a {
background: linear-gradient(0deg, rgba(var(--ltdk),1), rgba(var(--ltdk),1))!important; 
background-clip: text!important; -webkit-background-clip: text!important; color: transparent!important; 
}

.once-tm .north-strand b { font-size: 14px; }
.once-tm tag a:hover {
color: rgba(var(--txt),1)); 
}
