@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Source+Code+Pro:ital,wght@0,300;0,700;1,300;1,700&display=swap');

html[data-theme="dark"] .something-rotten { --bg: 20,20,20; --opp: 250,250,250; } 
.something-rotten { --bg: 250,250,250; --opp: 30,30,30; --font: Source Code Pro; width: 450px; background: rgba(var(--bg),1); box-shadow: 3px 3px 4px rgba(var(--opp),0.5); border: 1px solid rgba(var(--opp),0.2); border-radius: 7px; }
.something-rotten .ihateshakespeare { padding: 25px; text-align: justify; font: 12px var(--font); line-height: 1.5em; color: rgba(var(--opp),0.6); }
.something-rotten .weseethelight, .something-rotten .ilovetheway { display: flex; flex-flow: row wrap; align-content: space-between; justify-content: space-between; position: relative; padding-bottom: 20px; }
.something-rotten .weseethelight { padding: 20px 0px 20px; }
.something-rotten .weseethelight img, .something-rotten .ilovetheway img { width: 48%; object-fit: cover; object-position: center; border-radius: 5px; }
.something-rotten .blackdeath { position: absolute; top: 60px; left: 104px; font: 25px Saira Stencil One; letter-spacing: -1px; border: 5px solid rgb(var(--accent)); color: rgba(var(--accent)); text-transform: uppercase; transform: rotate(-24deg); padding: 5px 10px; border-radius: 15px; background: rgba(var(--bg),0.35); }
.something-rotten h3, .something-rotten h1, .something-rotten h2 { text-align: center; margin: 0px; color: rgba(var(--opp),1);}
.something-rotten h1 { font-size: 15px; padding: 10px 0px 0px; }
.something-rotten h2 { font-size: 10px; padding: 0px 0px 10px; }
.something-rotten h3 { font-size: 12px; }
.something-rotten b, .something-rotten i { color: rgba(var(--opp),1); }

.something-rotten profile { display: flex; flex-flow: row wrap; align-content: space-between; justify-content: space-between; padding-bottom: 10px; }
.something-rotten gif { display: block; height: inherit; }
.something-rotten gif img { width: 50px; height: 50px; object-position: center; object-fit: cover; border-radius: 100%; position: sticky; position: -webkit-sticky; top: 130px; }
.something-rotten info { display: block; width: calc(100% - 60px); }
.something-rotten details { width: 100%; }
.something-rotten ul, .something-rotten ol { padding: 0px 20px 0px 40px; }
.something-rotten a:link, .something-rotten a:active, .something-rotten a:visited { font-weight: bold; color: rgba(var(--opp),1);  }
.something-rotten a:hover { color: rgba(var(--opp),0.6);  }

@media only screen and (max-width: 760px) {
.something-rotten { width: 100%!important; }
.something-rotten .ihateshakespeare { padding: 5px; }
.something-rotten .blackdeath { display: none; }
.something-rotten .weseethelight img, .something-rotten .ilovetheway img { height: 100px!important; }
}
