/*****************************************************
 CODE BY LYDIA OF FUSE [163], MARCH 2021
 CHARACTER INDEX - JC SUPERSTAR
*****************************************************/

@import url("https://use.typekit.net/rqp3ltz.css");

.superstar { width: 450px; margin: 0px auto; background: rgba(150,150,150,0.2); text-align: center; font-family: ff-zwo-corr-web-pro, sans-serif; } 
.superstar img { 
  width: 120px; height: 120px; 
  margin: 25px auto; text-align: center; 
  border-radius: 120px; object-fit: cover; 
  object-position: center; padding: 10px; 
  background: linear-gradient(45deg, rgba(var(--color2),0.4), rgba(var(--color1),0.4)); 
  border: 3px double rgba(var(--color1),1); 
} 
.superstar blink { height: 25px; width: 100%; display: block; background: linear-gradient(45deg, rgba(var(--color1),0.4), rgba(var(--color2),0.4)); } 
.superstar blank { height: 25px; width: 100%; display: block; background: linear-gradient(45deg, rgba(var(--color2),0.4), rgba(var(--color1),0.4)); }

.superstar h1 { 
  text-align: center; margin: 0px; padding: 0px; 
  background: linear-gradient(45deg, rgba(var(--color1),1), rgba(var(--color2),1)); 
  background-clip: text; -webkit-background-clip: text; color: transparent; 
  font: bold 25px ff-zwo-corr-web-pro; line-height: 150%;
}
.superstar bio { display: block; padding: 10px 25px 25px; text-align: justify; }
.superstar bio img, .superstar .points-shop img { width: 100%!important; border-radius: 15px!important; height: auto!important; box-sizing: border-box; padding: 0px; border: 0px solid transparent; margin: 10px 0px 0px; border-radius: 5px!important; }

.superstar p { padding: 10px 0px 0px; margin: 0px; }
.superstar ul { padding: 0px 0px 0px 15px; }
.superstar b { 
  background: linear-gradient(45deg, rgba(var(--color1),1), rgba(var(--color2),1)); 
  background-clip: text; -webkit-background-clip: text; color: transparent; 
}
