html[data-theme="dark"] .thoroughly-modern {  --bg: 60,60,60; --stk: 0,0,0; --txt: 200,200,200; --mbtxt: 255,255,255;}
::-webkit-scrollbar, ::-webkit-scrollbar-thumb { width: 3px!important; border-radius: 5px; height: 3px!important; }
.thoroughly-modern { 
--bg: 244,244,244; --stk: 222,222,222; --txt: 122,122,122; --mbtxt: 0,0,0;
--font: poppins; 
width: 706px; background: rgb(var(--bg)); box-sizing: border-box; 
}
.thoroughly-modern nuttycracker2, .thoroughly-modern nuttycracker { 
  display: block; 
  height: 20px; 
}
.thoroughly-modern nuttycracker { background: linear-gradient(45deg, rgba(var(--color3), 0.7) 0%, rgba(var(--color2),0.7) 50%, rgba(var(--color1),0.7) 100%); }
.thoroughly-modern nuttycracker2 { background: linear-gradient(45deg, rgba(var(--color1), 0.7) 0%, rgba(var(--color2),0.7) 50%, rgba(var(--color3),0.7) 100%); }
.thoroughly-modern .millie { padding: 50px; }
.thoroughly-modern .speedtest { 
  display: flex; flex-wrap: row wrap; align-self: flex-start; align-content: space-between; justify-content: space-between; align-items: flex-start; 
}
.thoroughly-modern .mugin { width: 100%; padding: 10px; font: 11px var(--font); text-align: justify; box-sizing: border-box; }
.thoroughly-modern .onlyinny, .mugin section, .thoroughly-modern .gimme, .thoroughly-modern .mugin { border-radius: 17px; background: rgba(var(--stk),0.2); box-sizing: border-box; border: 1px solid rgba(var(--stk),1); margin-bottom: 10px; }

/* stickies */
.thoroughly-modern .left { width: 122px; height: inherit; position: sticky; position: -webkit-sticky; top: 130px; }
.thoroughly-modern gif { display: block; width: 150px; height: 100px; border: 1px solid rgb(var(--stk)); border-radius: 17px; }
.thoroughly-modern gif img {width: 100%; height: 100%; border-radius: 15px; object-position: center; object-fit: cover; background: linear-gradient(45deg, rgba(var(--color3), 0.4) 0%, rgba(var(--color2),0.4) 50%, rgba(var(--color1),0.4) 100%); padding: 5px; box-sizing: border-box; }
.thoroughly-modern .gimme { width: 152px; padding: 10px; font: 10px var(--font); text-align: justify; margin-top: 10px; }


/* RIGHT SIDE */
.thoroughly-modern .right { margin: 0px; padding: 0px; width: calc(100% - 170px); } 

/* --basic header */
.thoroughly-modern .onlyinny { width: calc(100%); height: 100px; text-align: center; }
.thoroughly-modern td.central { height: 100px; vertical-align: center; width: 0px; } .thoroughly-modern td.cap { width: 100%; }
.thoroughly-modern .onlyinny h2, .thoroughly-modern .onlyinny h1 { margin: 0px; padding: 0px; } 
.thoroughly-modern .onlyinny h1 { font-size: 25px; } 
.thoroughly-modern .onlyinny h2 { font-size: 8px; } 


/* --mugin things */
.mugin app { display: block; margin-bottom: 10px; max-height: 300px; overflow: auto; font-size: 12px; line-height: 17px; padding: 5px; }
.mugin gifline { display: block; height: 110px; width: 100%; white-space: nowrap; overflow-x: auto; margin-bottom: 10px; overflow-y: hidden; }
.mugin gifline img { height: 100px; box-sizing: border-box; padding: 3px; border-radius: 10px; background: linear-gradient(45deg, rgba(var(--color3), 0.4) 0%, rgba(var(--color2),0.4) 50%, rgba(var(--color1),0.4) 100%); }
.mugin h1 { padding: 5px 0px; margin: 0px; font: normal italic 14px monospace; text-transform: uppercase; text-align: center; letter-spacing: -1px; }
.mugin h2 { padding: 9px 0px 0px; margin: 0px 0px 9px; position: relative; padding-bottom: 5px; text-decoration: none; display: block; text-align: center; font-size: 11px; }
.mugin h2:after { content: "";
  position: absolute; bottom: 0px; left: 37%; height: 1px; width: 25%; background: rgb(var(--color3));
  background: linear-gradient(45deg, rgba(var(--color3),1) 0%, rgba(var(--color2),1) 100%);  }

.mugin track { display: block; padding-bottom: 10px; }
.mugin section { display: flex; flex-wrap: row wrap; align-items: center; align-content: space-between; justify-content: space-between; }

.mugin type { display: block; writing-mode: vertical-lr; transform: rotate(180deg); width: 25px; line-height: 25px; padding: 15px 10px; } 
.mugin pop { width: 1px; background: rgb(var(--color3)); background: linear-gradient(45deg, rgba(var(--color3),1) 0%, rgba(var(--color2),1) 100%); height: 40px; margin-right: 10px; }
.mugin linker { display: block; width: calc(100% - 64px); box-sizing: border-box; padding: 10px; }
.mugin linker p { text-align: justify; }
.mugin linker ul { padding: 0px 20px; margin: 0px; }
.mugin linker li { padding: 0px; margin: 0px; }
.mugin linker scroll { display: block; max-height: 120px; overflow: auto; }

.mugin socials { padding: 5px 5px 0px; display: flex; flex-flow: row wrap; justify-content: space-between; }
.mugin socials img { width: 30%; border-radius: 12px; padding: 4px; margin-bottom: 5px; background: rgba(var(--color3),0.4); background: linear-gradient(45deg, rgba(var(--color3),0.4) 0%, rgba(var(--color2),0.4) 50%, rgba(var(--color1),0.4) 100%); border: 1px solid rgb(var(--stk)); }
.mugin handle { display: block; width: 100%; font: bold 16px var(--font); padding: 15px; }

/* GRADIENT TEXT */
.thoroughly-modern b, .thoroughly-modern i, .mugin handle span, .thoroughly-modern .onlyinny h1, .mugin h1 { background: linear-gradient(45deg, rgba(var(--color3), 1) 0%, rgba(var(--color2),1) 50%, rgba(var(--color1),1) 100%); -webkit-background-clip: text; background-clip: text; color: transparent; }

.thoroughly-modern b, .thoroughly-modern i { font-size: 13px; line-height: 17px; }

@media only screen and (max-width: 760px) {
  .thoroughly-modern { width: 100%!important; }
  .thoroughly-modern .left { width: 62px; height: inherit; position: sticky; position: -webkit-sticky; top: 130px; }
  .thoroughly-modern .right { margin: 0px; padding: 0px; width: calc(100% - 90px); } 
}
