@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300;1,500&display=swap');
@import url('https://softacos.github.io/icons/stylesheet.css');
/* MOBILE CODE */
@media only screen and (max-width: 760px) { }
html[data-theme="dark"] .w-sidestory {
    --bg: 15,15,15; --bgbd: 50,50,50; --stk: 250,250,250; 
}
html[data-theme="dark"] .w-sidestory .sharks img { border: 1px solid rgb(var(--bgbd),0.5); }

.w-sidestory { 
  --bgbd: 222,222,222; --bg: 250,250,250; --stk: 70,70,70; 
  background: rgba(var(--bg),1);
  font-family: Roboto; 
  width: 320px; border: 1px solid rgb(var(--bgbd)); 
  color: rgb(var(--stk));
}
.w-sidestory sym {
  display: inline-block; 
}
.w-sidestory .jets { 
  width: 100%; height: 45px; 
  box-sizing: border-box; 
  display: flex; flex-flow: row wrap;align-items: center; justify-content: space-between; 
  padding: 0px 11px; border-bottom: 1px solid rgba(var(--bgbd));
}
.w-sidestory .jets sym {
  font-size: 10px; padding: 0px 0px 0px; 
  width: 20px; text-align: center; 
} 
.w-sidestory .jets h1 { 
  padding: 0px; margin: 0px; 
  font: 500 18px Roboto; 
  text-align: left; 
  box-sizing: border-box; 
  width: calc(100% - 120px); 
}
.w-sidestory .sharks {
  width: calc(100%); box-sizing: border-box; display: flex; flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  background: rgba(var(--bgbd),0.35); height: calc(100% - 86px); position: relative; padding: 10px 0px 10px 10px; 
  overflow: auto; 
}
.w-sidestory .sharks img { width: 55px; height: 55px; object-fit: cover; object-position: center; border-radius: 100%; 
  border: 1px solid rgb(var(--bgbd),1); padding: 3px; 
}
.w-sidestory .pretty { 
  text-align: left; box-sizing: border-box; 
  border-left: 3px solid rgba(var(--bgbd),0.5); padding: 0px 10px 0px 5px; 
  width: calc(100% - 69px); 
  max-height: 100%; overflow: auto; 
}
.w-sidestory h2 { 
  font: 500 15px Roboto; 
  padding: 5px 0px 0px; margin: 0px; 
  line-height: 16px; 
  color: rgb(var(--stk)); 
  color: rgb(var(--accent));
}
.w-sidestory .pretty p {
  font: 300 12px Roboto;
  line-height: 1.4em;
  margin: 0px; padding: 4px 0px 0px;
  color: rgba(var(--stk),0.6); 
}
.w-sidestory .tonight {
  width: calc(100%); 
  box-sizing: border-box; 
  background: rgba(var(--bgbd),0.6); 
  height: 41px; display: flex; 
  flex-flow: row wrap; justify-content: space-between; 
  align-items: center; 
  padding: 0px 4px; border-top: 1px solid rgba(var(--bgbd),1);
}

.w-sidestory .tonight sym {
  background: rgba(var(--bg),1); 
  width: 24px; height: 24px; 
  border-radius: 50px;
  font-size: 11px; line-height: 24px;
}

.w-sidestory .tonight span {
  display: block; font-size: 11px; 
  font-weight: 300; 
  background: rgba(var(--bg),1);
  width: calc( 100% - 60px);
  height: 24px; line-height: 24px; 
  border-radius: 11px; 
  text-align: justify;
  box-sizing: border-box; 
  padding: 0px 8px;
}

.w-sidestory b,.w-sidestory i {
  color: rgba(var(--stk),1); color: rgba(var(--accent),1);
}
.w-sidestory b {
  font-weight: 500; 
}
